.container {
  display: flex;
  background: lightgreen;
  padding: 20px;
  flex-wrap: row wrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 500px;
}

.container div {
  background: purple;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
}
