.container {
  display: grid;
  color: white;
  gap: 10px;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4"
    "item5 item6 item4";
}

.item {
  background: blue;
  padding: 30px;
  border-radius: 10px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}
